asgiref==3.8.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.7
defusedxml==0.7.1
Django==5.0.6
django-simple-history==3.7.0
djangorestframework==3.15.1
djangosaml2==1.9.3
elementpath==4.4.0
idna==3.7
pycparser==2.22
pyOpenSSL==24.1.0
pysaml2==7.5.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
sqlparse==0.5.0
urllib3==2.2.1
xmlschema==2.5.1